.footer {
    background-color: $color-black;
    .footer_container {
        .footer-tittle {
            padding-top: 20px;
            .footer_h3_title {
                @include text($color-white, $fs-3, $fw-normal);
                letter-spacing: 1px;
            }
        }
        .footer_content {
            .footer_content_left {
                .footer_descript_p {
                    @include text($color-white-cream, $fs-0, $fw-normal);
                }
                .footer_left_form {
                    display: flex;
                    .footer_form_email {
                        margin-right: 5px;
                    }
                    // .btn_footer_dangKy_left {
                    //     background-color: $color-yellow-main;
                    //     color: $color-white;
                    // }
                }
            }
            .footer_content_middle {
                .form-group {
                    input {
                        margin-bottom: 10px;
                    }
                }
            }
        }
        .footer_info {
            .footer_info_left {
                .menu_info {
                    list-style-type: none;
                    padding-left: 0;
                    .item_info {
                        @include text($color-white-cream, $fs-0, $fw-normal);
                        padding-bottom: 10px;
                        i {
                            padding-right: 5px;
                        }
                    }
                }
            }
            .footer_infor_middle {
                a {
                    @include text($color-white-cream, $fs-0, $fw-normal);
                    transition: linear .25s;
                    &:hover{
                        color: $color-yellow-main;
                    }
                }
            }
        }
        .copy_right{
            border-top: 2px solid white;
            display: flex;
            justify-content: center;
            p{
                padding: 10px 0;
                @include text($color-white-cream, $fs-0, $fw-normal);
            }
        }
    }
}
